<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/javascripts/DatePicker.bundle.js">

</script>
<h1> <%= title %> </h1>
Welcome to <%= title %>
</body>
</html>
